@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
  }

  body {
    background-color: rgb(241, 245, 241);
    overflow-x: hidden;
    @apply bg-white text-black dark:bg-slate-900 dark:text-white;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-gradient-to-br from-slate-900 to-violet-700 text-white p-2 rounded my-1 hover:bg-gradient-to-br from-blue-500 to-purple-600;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-[#2B85FF];
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
